@use 'abstracts/variables' as variables;
@use 'base/typography';
@use 'components/header';
@use 'components/pagination';
@use 'components/card';
@use 'components/product-detail';
// @use 'layout/grid';
@use 'base/reset';

// Tipografía Proxima Nova
@font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/proximaNova/proximanova_regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/proximaNova/proximanova_bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.container {
	max-width: 1200px;
	margin: 30px auto;
	padding: 0 16px; // Para dar respiración en mobile
	box-sizing: border-box;
}

body {
	font-family: typography.$font-primary;
	font-size: typography.$font-size-base;
	background-color: variables.$background-page;
}
