
// Variables for colors and other design elements
$background-header: #FFE600;
$background-page: #EBEBEB;
$background-pagination: #f5f5f5;
$background-pagination-active: #ffffff;

$color-pagination: #3483fa;
$color-pagination-text: rgba(0, 0, 0, 0.9);
$color-text-search: rgba(0, 0, 0, 0.55);