@use '../abstracts/variables' as variables;
@use '../base/typography' as typography;

.pagination {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background-color: variables.$background-pagination;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
    &__list {
      display: flex;
      gap: 2px;
      list-style: none;
      align-items: center;
    }
  
    &__item {
      width: 28px;
      height: 28px;
      padding: 4px;
      border: 1px solid transparent;
      border-radius: 4px;

      font-family: typography.$font-primary, sans-serif;
      font-size: typography.$font-size-base;
      font-weight: typography.$font-weight-regular;
      color: variables.$color-pagination-text;

      text-align: center;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      transition: all 0.2s ease;
  
      &:hover {
        border-color: variables.$color-pagination;
      }
  
      &--active {
        border-color: variables.$color-pagination;
        background-color: variables.$background-pagination-active;
      }
    }
  
    &__next {
      font-family: typography.$font-primary, sans-serif;
      font-size: typography.$font-size-base;
      font-weight: typography.$font-weight-regular;
      color: variables.$color-pagination-text;

      cursor: pointer;
      border: none;
      background: none;
      height: 28px;
      padding: 0 8px;
      display: flex;
      align-items: center;
  
      &:hover {
        text-decoration: underline;
        color: variables.$color-pagination;
      }
    }
  }
  