// Font families
$font-primary: 'Proxima Nova', sans-serif;

// Font sizes
$font-size-base: 1rem; // 16px

$font-size-title: 1.25rem; // 20px
$font-size-subtitle: 0.875rem; // 14px
$font-size-price: 1.5rem; // 24px
$font-size-price-off: 0.75rem; // 12px

// Font weights
$font-weight-regular: 400;
$font-weight-title: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Placeholder for typography variables
$font-placeholder: 'Proxima Nova';
$font-size-placeholder: 16px;
$font-weight-placeholder: 400;
$color-placeholder: rgba(0, 0, 0, 0.55);
$color-pagination: rgba(0, 0, 0, 0.9);
